.Rapp.history
Loans.RData
Assignment1Review/Student1_text.pdf
Assignment1Review/Student2_text.pdf
Assignment1Review/Student3_text.pdf
Assignment1Review/Student4_text.pdf
Data/.Rhistory
Data/loansDataRaw.rda
Figures/multipleAmount v Fico from pdf.png
Figures/multipleAmount v Fico.pdf
Figures/multipleAmount v Fico.png
Figures/Scatter_w_lines.pdf
R Scripts/loansData.csv
R Scripts/loansRaw.html
R Scripts/loansRaw.md
R Scripts/cache/__packages
R Scripts/cache/setdir_591ae27bfe73710b63f5b3f486585449.RData
R Scripts/cache/setdir_591ae27bfe73710b63f5b3f486585449.rdb
R Scripts/cache/setdir_591ae27bfe73710b63f5b3f486585449.rdx
R Scripts/figure/cluster.png
R Scripts/figure/unnamed-chunk-41.png
R Scripts/figure/unnamed-chunk-42.png
R Scripts/figure/unnamed-chunk-43.png
R Scripts/figure/unnamed-chunk-44.png
R Scripts/figure/unnamed-chunk-45.png
R Scripts/figure/unnamed-chunk-46.png
R Scripts/figure/unnamed-chunk-47.png
R Scripts/figure/unnamed-chunk-48.png
R Scripts/figure/unnamed-chunk-51.png
R Scripts/figure/unnamed-chunk-510.png
R Scripts/figure/unnamed-chunk-511.png
R Scripts/figure/unnamed-chunk-512.png
R Scripts/figure/unnamed-chunk-513.png
R Scripts/figure/unnamed-chunk-514.png
R Scripts/figure/unnamed-chunk-52.png
R Scripts/figure/unnamed-chunk-53.png
R Scripts/figure/unnamed-chunk-54.png
R Scripts/figure/unnamed-chunk-55.png
R Scripts/figure/unnamed-chunk-56.png
R Scripts/figure/unnamed-chunk-57.png
R Scripts/figure/unnamed-chunk-58.png
R Scripts/figure/unnamed-chunk-59.png
R Scripts/figure/unnamed-chunk-61.png
R Scripts/figure/unnamed-chunk-62.png
R Scripts/figure/unnamed-chunk-63.png
R Scripts/figure/unnamed-chunk-64.png
R Scripts/figure/unnamed-chunk-65.png
R Scripts/figure/unnamed-chunk-66.png
R Scripts/figure/unnamed-chunk-7.png
R Scripts/figure/unnamed-chunk-81.png
R Scripts/figure/unnamed-chunk-82.png
R Scripts/figure/unnamed-chunk-83.png
R Scripts/figure/unnamed-chunk-84.png
R Scripts/figure/unnamed-chunk-85.png
R Scripts/figure/unnamed-chunk-86.png
R Scripts/figure/unnamed-chunk-87.png
R Scripts/figure/unnamed-chunk-91.png
R Scripts/figure/unnamed-chunk-92.png
R Scripts/figure/unnamed-chunk-93.png
Text/Assignment 1 report.docx
